alpha-vantage==2.1.0
attrdict==2.0.1
backcall==0.1.0
basketball-reference-web-scraper==4.0.0
certifi==2018.10.15
cffi==1.12.2
chardet==3.0.4
Click==7.0
colorama==0.4.1
cycler==0.10.0
decorator==4.3.0
eth-hash==0.2.0
eth-typing==2.1.0
Flask==1.0.2
future==0.17.1
httplib2==0.11.3
idna==2.7
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.13.2
Jinja2==2.10
jupyter-client==5.2.4
jupyter-core==4.4.0
kiwisolver==1.0.1
lxml==4.2.5
MarkupSafe==1.1.0
matplotlib==3.0.2
numpy==1.15.3
oauth2==1.9.0.post1
pandas==0.23.4
parso==0.3.1
pickleshare==0.7.5
ply==3.11
prompt-toolkit==2.0.7
pycparser==2.19
pycryptodome==3.8.1
Pygments==2.3.1
pyparsing==2.3.0
pypiwin32==223
pyspice===-version-
python-dateutil==2.7.5
pytz==2018.6
pywin32==224
pyyaml==5.1
pyzmq==18.0.1
qtconsole==4.4.3
requests==2.20.0
scipy==1.2.1
six==1.11.0
toolz==0.9.0
tornado==6.0.2
traitlets==4.3.2
urllib3==1.24
virtualenv==16.2.0
virtualenvwrapper-win==1.2.5
wcwidth==0.1.7
websockets==6.0
Werkzeug==0.14.1
yelp==1.0.2
